* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background-color: rgb(26, 26, 26);
    font-size: 16px;
}

.dashboard {
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 20px;
    border-bottom: 1px solid orange;
    background-color: black;

    &__logo {
        margin-left: 50px;
        text-decoration: none;
        font-size: 26px;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        padding: 10px 10px;
        border: 1px solid darkorange;
        transition: box-shadow .2s;

        &--modlogo {
            color: orange;
        }
    }

    &__logo:hover {
        box-shadow: 0 0 10px darkorange;
    }

    .dashboard-box {
        margin-right: 50px;

        .dashboard-box-items {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;

            &__item {
                padding: 5px 5px;
                font-size: 24px;
            }
            
            &__item:hover {
                border-bottom: 2px solid darkorange;
            }

            .item-margin {
                margin-right: 30px;
            }

            &__link {
                text-decoration: none;
                color: #ffffff;
            }

            .link-extract {
                color: orange;
            }
        }

    }
}

.tasksapp-container {
    display: flex;
    justify-content: center;
    // align-items: center;
    margin: 150px 0;

    .tasksapp {
        width: 900px;
        background-color: white;
        border: 1px solid #793009;
        border-radius: 10px;
        box-shadow: 0 0 10px #793009;
        text-align: center;
        color: black;
    }

    .tasksapp-header {
        border-radius: 10px 10px 0 0;
        padding: 50px;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,48,9,1) 0%, rgba(255,162,0,1) 100%);

        &__title {
            text-transform: uppercase;
            margin-bottom: 30px;
            font-size: 30px;
        }

        &__input {
            width: 80%;
            padding: 10px 20px;
            margin-right: 30px;
            border: none;
            border-radius: 10px;
            color: rgb(79, 82, 92);
        }

        &__addbutton {
            padding: 10px 25px;
            border: none;
            border-radius: 10px;
            color: rgb(26, 26, 26);
            text-transform: uppercase;
            cursor: pointer;
            transition: color .3s, background-color .3s;
        }

        &__addbutton:hover {
            color: white;
            background-color: rgb(54, 54, 54);
        }
    }

    .tasksapp-list {
        padding: 30px 0;

        &__title {
            text-transform: uppercase;
            font-size: 20px;
            margin-bottom: 20px;
        }

        &__alert-info {
            margin-top: 20px;
            color: #793009;
        }
    }

    .tasks-list-box {
        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px;
            padding-left: 20px;
            text-align: left;
            list-style: none;
            background-color: rgb(245, 245, 245);
        }
    }

    .tasks-tools {
        display: inline-block;

        &__button {
            padding: 15px 10px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            transition: background-color .3s;
        }

        &__button:hover {
            background-color: #ddd;
        }

        &__complete {
            color: rgb(0, 132, 255);
        }

        &__edit {
            font-weight: bold;
            color: purple;
        }

        &__delete {
            color: tomato;
        }

        .task-tools-completed {
            font-size: 12px;
            color: gray;
            text-decoration: line-through;
            font-style: italic;
        }
    }
    .task-popup {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 880px;
        color: white;
        background-color: rgb(79, 82, 92);
        border-radius: 10px;

        &__title {
            padding: 20px;
        }
    }

    .task-popup-tools {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
        padding: 15px;

        &__info {
            color: white;
            margin-bottom: 20px;
        }

        &__input {
            width: 100%;
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            color: rgb(79, 82, 92);
        }

        &__button {
            width: 30%;
            display: inline-block;
            padding: 10px 22px;
            margin: 20px;
            border: none;
            border-radius: 5px;
            color: rgb(26, 26, 26);
            text-transform: uppercase;
            cursor: pointer;
            transition: color .3s, background-color .3s;
        }

        &__button:hover {
            color: white;
            background-color: #ffa200;
        }
    }
}


.task-tools-completed {
    font-size: 12px;
    color: gray;
    text-decoration: line-through;
    font-style: italic;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid orange;
    background-color: black;
    position: absolute;
    bottom: 0;
	width: 100%;
    height: 60px;

    &__logo {
        padding: 20px 0;
        text-decoration: none;
        color: white;

        &--modlogo {
            color: orange;
        }
    }
}
